<h1>Quiz Results</h1>
<table class='table'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Link</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @quizzes.each do |quiz| %>
      <% unless quiz.results.empty? %>
        <tr>
          <td>
            <%= link_to quiz.name, admin_quiz_path(quiz) %>
          </td>
          <td><%= quiz_url(quiz.code) %></td>
          <td>
            <%= link_to 'Show Results', show_results_admin_quiz_path(quiz), class: 'btn' %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>