#vinsol_signin.modal {
  text-align: center;
  width: 25% !important;
  left: 38% !important;
  margin-left: 0 !important;
  top: 20% !important;
}


#vinsol_login_btn {
  margin-bottom: 10%;
  margin-top: 10%;
}