<div>
  <%= link_to "Subjective Type", admin_new_question_path(question_type: 'Subjective'), class: 'btn btn-primary questions' %>
  <%= link_to "Multiple Choice", admin_new_question_path(question_type: 'MCQ'), class: 'btn btn-primary questions' %>
  <%= image_tag('qs.jpg') %>
</div>