/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap-datetimepicker
 *= require_tree .
 */

 .field_with_errors label {
  color: red;
  font-weight: bold;
 }

.pagination-container {
  text-align: right;
  color: red;
}

#error_explanation ul {
  list-style-type: none;
}

.inline-element {
  display: inline !important;
}

.required-field {
  color: red;
  font-weight: bolder;
  font-size: 1.5em;
}

.attributes {
  width: 98%;
  margin: 1%;
}

.labels {
  display: inline-block;
  width: 30%;
}

.input-elements {
  display: inline-block;
  width: 60%;
}

.check_box {
  margin: 0 !important;
  margin-right: 1% !important;
}

.user-ui {
  padding: 1%;
  width: 70%;
  border: 1px solid #cccccc;
}

.attributes div {
  vertical-align: top;
}

footer {
  display: block;
  width: 100%;
  margin-top: 1%;
}