<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h4>Hello <%= @admin.name %></h4>
    <p>
      Please find the attached results for the quiz <%= @quiz.name %>
    </p>
    <p>Thanks, have a great day!</p>
  </body>
</html>